@inherits ParentTriggerTestModelComponent

<div>
    <p>Referenced Trigger: @Model.Referenced.TriggerProperty</p>
    <p>Parent Property: @Model.ParentProperty</p>
    <p>Renders: @RenderCount</p>
</div>
