@using RxBlazorV2.Component
@inherits ObservableComponent<TestCodeBehindAccessModel>

<div>
    @* Direct property access from razor *@
    <p>Direct: @Model.PropertyA</p>

    @* Property accessed through expression-bodied property *@
    <p>Expression Property: @AccessedViaExpressionProperty</p>

    @* Property accessed through method *@
    <p>Method: @GetPropertyFromMethod()</p>

    @* Property accessed through regular property with getter *@
    <p>Regular Property: @AccessedViaRegularProperty</p>
</div>
