@using RxBlazorV2.Component
@inherits ObservableComponent<TestInjectedModel>

<div class="injected-content">
    <p class="property-a">@Model.InjectedPropertyA</p>
    <p class="property-b">@Model.InjectedPropertyB</p>
    <p class="counter">@Model.InjectedCounter</p>
    <p class="extra-a">@ExtraModel.InjectedPropertyA</p>
</div>
